In [15]:
work_dir = "."
split_dir = "./split"


import os
if not os.path.exists(split_dir):
    os.mkdir(split_dir)

In [16]:
import pandas as pd

In [17]:
df_source = pd.read_excel(f"./source.xlsx")

In [18]:
df_source.head()

,ID,authors,title
0,3182,Sarah Pinborough,Into the Silence
1,948,Jim Butcher,Storm Front
2,2723,Tom Sharpe,The Wilt Alternative
3,1723,"Steven D. Levitt, Stephen J. Dubner",Freakonomics: A Rogue Economist Explores the H...
4,3029,Haruki Murakami,After dark

In [19]:
df_source.index

RangeIndex(start=0, stop=569, step=1)

In [20]:
df_source.shape

(569, 3)