how to under stand 'axis' parameter

In [24]:
import pandas as pd
import numpy as np

In [25]:
df = pd.DataFrame(
    np.arange(12).reshape(3,4),
    columns=['A','B','C','D']
)
df2 = df1 = df

In [26]:
#delete a column
df1 = df1.drop('A',axis=1)
df1

   B   C   D
0  1   2   3
1  5   6   7
2  9  10  11

In [27]:
#delete a row
df1 = df1.drop(1, axis=0)
df1

   B   C   D
0  1   2   3
2  9  10  11

In [31]:
df2

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [36]:
df2.mean(axis=0)          #calculate mean value in 'indexs' (vertical) direction

df2.mean(axis=1)          #calculate mean value in 'columns' (horizontal) direction

0    1.5
1    5.5
2    9.5
dtype: float64

In [33]:
df2

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11