In [2]:
import pandas as pd
fpath = "tianqi.csv"

In [3]:
df = pd.read_csv(fpath)

In [4]:
df.head(7)

         YMD bWendu yWendu Tianqi Fengxiang Fengli  aqi aqiinfo  aqiLevel
0  1/01/2018    3°C  -12°C      晴       东北风   1-2级   43       优         1
1  2/01/2018    6°C   -4°C   阴-多云        东风   1-3级   56       良         2
2  3/01/2018    4°C  -21°C   晴-多云        北风     3级   13       优         1
3  4/01/2018    9°C  -13°C     多云       东南风   2-3级   67       良         2
4  5/01/2018    3°C   -6°C      阴        南风     2级   54       良         2
5  6/01/2018    5°C   -4°C     多云        东风     1级   63       良         2
6  7/01/2018    4°C   -9°C      晴       东北风   1-2级   15       优         1

In [5]:
df.set_index('YMD',inplace = True)

In [6]:
df.index

Index(['1/01/2018', '2/01/2018', '3/01/2018', '4/01/2018', '5/01/2018',
       '6/01/2018', '7/01/2018'],
      dtype='object', name='YMD')

In [7]:
df.head(7)

          bWendu yWendu Tianqi Fengxiang Fengli  aqi aqiinfo  aqiLevel
YMD
1/01/2018    3°C  -12°C      晴       东北风   1-2级   43       优         1
2/01/2018    6°C   -4°C   阴-多云        东风   1-3级   56       良         2
3/01/2018    4°C  -21°C   晴-多云        北风     3级   13       优         1
4/01/2018    9°C  -13°C     多云       东南风   2-3级   67       良         2
5/01/2018    3°C   -6°C      阴        南风     2级   54       良         2
6/01/2018    5°C   -4°C     多云        东风     1级   63       良         2
7/01/2018    4°C   -9°C      晴       东北风   1-2级   15       优         1

In [8]:
df.dtypes

bWendu       object
yWendu       object
Tianqi       object
Fengxiang    object
Fengli       object
aqi           int64
aqiinfo      object
aqiLevel      int64
dtype: object

In [9]:
df.loc[:,"bWendu"] = df["bWendu"].str.replace("°C","").astype('int32')
df.loc[:,"yWendu"] = df["yWendu"].str.replace("°C","").astype('int32')

C:\Users\Osy\AppData\Local\Temp\ipykernel_11144\2524731607.py:1: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,"bWendu"] = df["bWendu"].str.replace("°C","").astype('int32')
C:\Users\Osy\AppData\Local\Temp\ipykernel_11144\2524731607.py:2: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:,"yWendu"] = df["yWendu"].str.replace("°C","").astype('int32')

In [10]:
df.dtypes

bWendu        int32
yWendu        int32
Tianqi       object
Fengxiang    object
Fengli       object
aqi           int64
aqiinfo      object
aqiLevel      int64
dtype: object

In [11]:
df.head(7)

           bWendu  yWendu Tianqi Fengxiang Fengli  aqi aqiinfo  aqiLevel
YMD
1/01/2018       3     -12      晴       东北风   1-2级   43       优         1
2/01/2018       6      -4   阴-多云        东风   1-3级   56       良         2
3/01/2018       4     -21   晴-多云        北风     3级   13       优         1
4/01/2018       9     -13     多云       东南风   2-3级   67       良         2
5/01/2018       3      -6      阴        南风     2级   54       良         2
6/01/2018       5      -4     多云        东风     1级   63       良         2
7/01/2018       4      -9      晴       东北风   1-2级   15       优         1

Return a value

In [12]:
df.loc["4/01/2018","yWendu"]

-13

Return a series

In [13]:
df.loc['4/01/2018',['bWendu','yWendu']]

bWendu      9
yWendu    -13
Name: 4/01/2018, dtype: object

Return a dataFrame

In [14]:
df.loc[['2/01/2018','4/01/2018','6/01/2018'],['bWendu','yWendu']]

           bWendu  yWendu
YMD
2/01/2018       6      -4
4/01/2018       9     -13
6/01/2018       5      -4

Retrun a range

In [15]:
df.loc["01/2018":"4/01/2018","bWendu"]

YMD
1/01/2018    3
2/01/2018    6
3/01/2018    4
4/01/2018    9
Name: bWendu, dtype: int32

In [16]:
df.loc["4/01/2018","bWendu":"aqi"]

bWendu          9
yWendu        -13
Tianqi         多云
Fengxiang     东南风
Fengli       2-3级
aqi            67
Name: 4/01/2018, dtype: object

In [17]:
df.loc["01/2018":"4/01/2018","bWendu":"aqi"]

           bWendu  yWendu Tianqi Fengxiang Fengli  aqi
YMD
1/01/2018       3     -12      晴       东北风   1-2级   43
2/01/2018       6      -4   阴-多云        东风   1-3级   56
3/01/2018       4     -21   晴-多云        北风     3级   13
4/01/2018       9     -13     多云       东南风   2-3级   67

In [18]:
df.loc[df['yWendu']<-10,:]

           bWendu  yWendu Tianqi Fengxiang Fengli  aqi aqiinfo  aqiLevel
YMD
1/01/2018       3     -12      晴       东北风   1-2级   43       优         1
3/01/2018       4     -21   晴-多云        北风     3级   13       优         1
4/01/2018       9     -13     多云       东南风   2-3级   67       良         2

In [19]:
df['yWendu']<-10

YMD
1/01/2018     True
2/01/2018    False
3/01/2018     True
4/01/2018     True
5/01/2018    False
6/01/2018    False
7/01/2018    False
Name: yWendu, dtype: bool

In [27]:
df.loc[(df['bWendu']<30) & (df['yWendu']>-10) & (df['Tianqi']=='晴') & (df['aqiLevel'] == 1), :]

           bWendu  yWendu Tianqi Fengxiang Fengli  aqi aqiinfo  aqiLevel
YMD
7/01/2018       4      -9      晴       东北风   1-2级   15       优         1

In [28]:
df.loc[lambda df: (df['bWendu']<30) & (df['yWendu']>-10), 'bWendu':'Tianqi']

           bWendu  yWendu Tianqi
YMD
2/01/2018       6      -4   阴-多云
5/01/2018       3      -6      阴
6/01/2018       5      -4     多云
7/01/2018       4      -9      晴

In [35]:
def query_my_data(df):
    return (df.index.str.startswith('5/01/2018')) & (df['aqiLevel'] <= 2)

df.loc[query_my_data, :]

           bWendu  yWendu Tianqi Fengxiang Fengli  aqi aqiinfo  aqiLevel
YMD
5/01/2018       3      -6      阴        南风     2级   54       良         2