In [6]:
import pandas as pd
fpath = "Pandas_data1.csv"
ratings = pd.read_csv(fpath)
ratings.head()

   C1    C2    C3    C4    C5
0  R1  R1C2  R1C3  R1C4  R1C5
1  R2  R2C2  R2C3  R2C4  R2C5
2  R3  R3C2  R3C3  R3C4  R3C5
3  R4  R4C2  R4C3  R4C4  R4C5
4  R5  R5C2  R5C3  R5C4  R5C5

In [7]:
ratings.shape

(7, 5)

In [8]:
ratings.columns

Index(['C1', 'C2', 'C3', 'C4', 'C5'], dtype='object')

In [9]:
ratings.index

RangeIndex(start=0, stop=7, step=1)

In [10]:
ratings.dtypes

C1    object
C2    object
C3    object
C4    object
C5    object
dtype: object

In [12]:
fpath = "Pandas_demo1.txt"
pvuv = pd.read_csv(
    fpath,
    sep = "\t",
    header=None,
    names=['pdate','pv','uv']
)
pvuv

        pdate   pv   uv
0  10/09/2019  354   28
1  11/09/2019  298  100
2  12/09/2019  395   27
3  13/09/2019  312  291
4  14/09/2019  306  321
5  15/09/2019  294  276
6  16/09/2019  205  123
7  17/09/2019  362   56

In [17]:
fpath = "Pandas_demo1.xlsx"
pvuv = pd.read_excel(fpath)

In [21]:
pvuv

          日期   PV   UV
0 2019-09-10  301  349
1 2019-09-11  355  198
2 2019-09-12  297  320
3 2019-09-13  398  368
4 2019-09-14   84  199
5 2019-09-15  324  272
6 2019-09-16  234  255
7 2019-09-17  399  126