what is 'Index' in pandas? how to use it?

In [52]:
import pandas as pd
fpath = 'ratings.csv'

In [53]:
df = pd.read_csv(fpath)
df.head()

   userID  movieID  rating  timeStamp
0      19        3       1   19050711
1     274      209       8   19050711
2     352      224       4   19050709
3      40       99       1   19050710
4     183      359       3   19050707

In [54]:
df.count()

userID       10383
movieID      10383
rating       10383
timeStamp    10383
dtype: int64

In [55]:
df.set_index('userID',inplace=True,drop=False)            #set 'userID' as index, 'inplace=True' to replace the original index, 'drop=False' to keep 'userID' column

In [56]:
#search according to data
df.loc[df['userID']==400].count()

userID       21
movieID      21
rating       21
timeStamp    21
dtype: int64

In [57]:
#search according to index straight away
df.loc[400].count()

userID       21
movieID      21
rating       21
timeStamp    21
dtype: int64

index is able to increase inquiry speed significantly

In [58]:
from sklearn.utils import shuffle
df_shuflle = shuffle(df)

In [59]:
df_shuflle.head()

        userID  movieID  rating  timeStamp
userID
446        446      404       7   19050710
279        279      186       3   19050704
93          93      472       9   19050710
266        266      212       2   19050706
151        151       84       8   19050705

In [60]:
#check out if the index is monotonic increasing
df_shuflle.index.is_monotonic_increasing

False

In [61]:
#check out if the index is unique 
df_shuflle.index.is_unique

False

In [62]:
#timing the inquiry
%timeit df_shuflle.loc[399]

215 µs ± 5.46 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [63]:
#sort the index, and then check out inquiry time consumption
df_sorted = df_shuflle.sort_index()

In [64]:
#check out if the index is monotonic increasing
df_sorted.index.is_monotonic_increasing

True

In [65]:
#check out if the index is unique 
df_sorted.index.is_unique

False

In [66]:
#timing the inquiry
%timeit df_sorted.loc[399]

81.9 µs ± 834 ns per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

the inquiry time reduced significantly after sorting