In [8]:
import pandas as pd

In [9]:
fpath = 'tianqi.csv'

In [10]:
df = pd.read_csv(fpath)

In [11]:
df.head()

         YMD bWendu yWendu Tianqi Fengxiang Fengli  aqi aqiinfo  aqiLevel
0  1/01/2018    3°C  -12°C      晴       东北风   1-2级   43       优         1
1  2/01/2018    6°C   -4°C   阴-多云        东风   1-3级   56       良         2
2  3/01/2018    4°C  -21°C   晴-多云        北风     3级   13       优         1
3  4/01/2018    9°C  -13°C     多云       东南风   2-3级   67       良         2
4  5/01/2018    3°C   -6°C      阴        南风     2级   54       良         2

In [12]:
df['bWendu'] = df['bWendu'].str.replace('°C','').astype('int32')
df['yWendu'] = df['yWendu'].str.replace('°C','').astype('int32')

In [14]:
df.describe()

          bWendu     yWendu         aqi  aqiLevel
count  80.000000  80.000000   80.000000  80.00000
mean   18.550000   0.062500   50.012500   1.65000
std     7.131495   6.119783   38.900553   0.55347
min     3.000000 -21.000000   13.000000   1.00000
25%    13.750000  -4.000000   36.000000   1.00000
50%    19.000000   1.000000   54.000000   2.00000
75%    25.000000   4.000000   63.000000   2.00000
max    29.000000   9.000000  344.000000   4.00000

In [15]:
df['bWendu'].mean()

18.55

In [16]:
df['bWendu'].std()

7.131495484686313

In [18]:
df['bWendu'].min()

3

In [17]:
df['bWendu'].max()

29

In [20]:
df['Tianqi'].unique()

array(['晴', '阴-多云', '晴-多云', '多云', '阴'], dtype=object)

In [22]:
df['Tianqi'].value_counts()

晴       23
多云      22
阴-多云    12
晴-多云    12
阴       11
Name: Tianqi, dtype: int64

In [23]:
df.cov()
#协方差

C:\Users\Osy\AppData\Local\Temp\ipykernel_1512\1545644723.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.cov()

             bWendu     yWendu          aqi   aqiLevel
bWendu    50.858228  13.977848    53.790506   0.675949
yWendu    13.977848  37.451741    43.328323   0.604430
aqi       53.790506  43.328323  1513.253006  17.447468
aqiLevel   0.675949   0.604430    17.447468   0.306329

In [24]:
df.corr()
#相关性

C:\Users\Osy\AppData\Local\Temp\ipykernel_1512\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

            bWendu    yWendu       aqi  aqiLevel
bWendu    1.000000  0.320275  0.193896  0.171253
yWendu    0.320275  1.000000  0.182004  0.178450
aqi       0.193896  0.182004  1.000000  0.810368
aqiLevel  0.171253  0.178450  0.810368  1.000000