In [6]:
import pandas as pd
import numpy as np

In [9]:
s1 = pd.Series([1,'a',5.2,7])

In [10]:
s1

0      1
1      a
2    5.2
3      7
dtype: object

In [11]:
s1.index

RangeIndex(start=0, stop=4, step=1)

In [12]:
s1.values

array([1, 'a', 5.2, 7], dtype=object)

In [13]:
s2 = pd.Series([1,'a',5.2,7],index=['d','b','a','c'])

In [14]:
s2

d      1
b      a
a    5.2
c      7
dtype: object

In [15]:
s2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [16]:
sdata = {'Ohio':3500, 'Texas':72000,'Oregon':16000,'Utah':5000}
s3 = pd.Series(sdata)

In [17]:
s3

Ohio       3500
Texas     72000
Oregon    16000
Utah       5000
dtype: int64

check out values of series

In [18]:
s2

d      1
b      a
a    5.2
c      7
dtype: object

In [21]:
s2['c']

7

In [23]:

type(s2['a'])

float

In [25]:
s2[['a','b']]

a    5.2
b      a
dtype: object

In [26]:
type(s2[['a','b']])

pandas.core.series.Series